<li>

  Team A: {{ score.score_team_1 }}

  {% if score.assist_by_team_1x %}
    - Assist by: {{ score.assist_by_team_1 }} → Score by: {{ score.score_by_team_1 }}
  {% endif %}
  
  <br>Team B: {{ score.score_team_2 }}

  {% if score.assist_by_team_2x %}
    - Assist by: {{ score.assist_by_team_2 }} → Score by: {{ score.score_by_team_2 }}
  {% endif %}
  
  <br>date: {{ score.date_created | date: '%d-%m-%Y %H:%M' }}

  </li>

{% comment %} 
<details>
    <summary>Data</summary>
    <pre>{{ score | json:4 }}</pre>
</details>  
{% endcomment %}
